:root {
  --darkcyan: hsl(185, 75%, 39%);
  --darkblue: hsl(229, 23%, 23%);
  --grayblue: hsl(227, 10%, 46%);
  --darkgray: hsl(0, 0%, 59%);
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  background-color: var(--darkcyan);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
}
.top {
  background-image: url(./images/bg-pattern-card.svg);
  height: 13rem;
  width: 20rem;
  border-radius: 20px 20px 0 0;
  background-size: cover;
}
.card__person {
  padding-top: 4rem;
  position: relative;
}
.person_image {
  position: absolute;
  top: -40%;
  left: 50%;
  border-radius: 50%;
  border: 5px solid white;
  transform: translateX(-50%);
}
.card__person .name {
  font-size: 1.5rem;
  color: var(--darkblue);
  margin: 1rem;
}
.card__person .age {
  font-size: 1.5rem;
  color: var(--darkgray);
}

.card__stats {
  display: flex;
  flex-direction: row;
  margin: 1.5rem 1rem;
  justify-content: space-between;
}
.card__stats .num {
  font-weight: bold;
}
